<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link rel = "stylesheet" href="/css/community.css"/>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/images/high.png" />
</head>
<body>

    <div class="jumbotron" style="margin: 30px">
        <h1>出错啦！！！</h1>
        <p th:text="${message}"></p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">返回主页</a></p>
    </div>

</body>
</html>